button, .btn-lg {
    width: 217px;
}
.big-title {
    font-size: 66px;
    letter-spacing: -0.5px;
}
.txtshadow-lite {
    text-shadow: 2px 2px 2px #ccc;
}
.txtshadow {
    text-shadow: 9px 7px 12px #333;
}
.navbar a:not(.btn):not(.dropdown-item) {
    color: inherit;
}
.navbar-light .navbar-toggler {
    border: 0;
}
.button-bar {
    background-color: #323;
}
.navbar-toggler {
    display: flex;
    width: 70px !important;
    align-items: center;
}
.navbar .navbar-nav .nav-link:not(.btn) {
    font-size: 1em;
}
.center {
    display: flex;
    align-items: center;
}
.photos .carousel {
    max-width: 260px;
    width: 260px;
    min-width: 260px;
    max-height: 390px;
    height: 390px;
    min-height: 390px;
    display: flex;
    align-items: center;
}
.carriers .carousel-indicators li {
    background-color: #444;
}

.carriers .carousel-item {
    height: 100%;
}
.carriers .carousel-item .active {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carriers .carousel-control-next, .carousel-control-prev {
    color: #444;
}
.carriers .carousel-caption {
    bottom: 0;
}
.carriers .carousel-item a {
    color: #aaa !important;
}
.carriers .carousel {
    max-width: 400px !important;
    width: 400px !important;
    min-width: 400px !important;
    max-height: 200px !important;
    min-height: 200px !important;
    height: 200px !important;
    display: flex;
    align-items: center;
}
.carriers .carousel-inner {
    max-width: 400px !important;
    width: 400px !important;
    min-width: 400px !important;
    max-height: 200px !important;
    min-height: 200px !important;
    height: 200px !important;
    display: flex;
    align-items: center;
}
.carriers .carousel-caption {
    padding-top: 4px;
    padding-bottom: 4px;
}
.reviews .carousel-inner {
    max-height: 300px;
    height: 300px;
    min-height: 300px;
    box-shadow: none !important;
}
.photos .carousel-item img {
    width: 100%;
}

.blue {
    color: #2CA8FF;
}
.glow {
    position: relative;
}
.glow .glow-item {
    transition: all 0.2s ease-in-out;
    z-index: -9999;
}
.glow:hover {
    cursor: pointer;
}
.glow:hover .glow-item {
    opacity: 0.8;
    transform: scale(1.1);
    cursor: pointer;
}
.glow span {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.glow:hover span {
    text-shadow: 5px 5px 6px #222;
    transform: scale(1.1);
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
h3, h2, h1 {
    font-weight: 100;
}
.navy {
    color:#2BA7FF;
}
.white > * {
    color: #fff !important;
}
.footer-list {
    display: flex;
    align-items: center;
}
.footer-list ul {
    display: flex;
    flex-direction: column;
}
.links li {
    margin-bottom: 10px;
}
.carrier-icon-section div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.fake-link {
    color: #f96332;
    cursor: pointer;
}
.fake-link:hover {
    text-decoration: underline;
}
@media (max-width: 700px) {
    .big-window {
        padding: 24px !important;
    }
    .copyright {
        display: flex;
        flex-direction: column;
    }
}
.center-vert {
    display: flex;
    align-items: center;
}
.dv-star-rating i {
    font-size: 20px;
}
.overlay {
    //background-color: #1c93e2;
    background-color: #2CA8FF;
    opacity: 0.39;
    transition: background 0.3s ease 0s, border-radius 0.3s ease 0s, opacity 0.3s ease 0s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.overlay-dark {
    background-color: #222;
}
.page-header .page-header-image {
    z-index: initial !important;
    background-image: url('../images/losangeles.jpg');
}
.btn-info-white {
    color: #2CA8FF;
    background-color: #ffff;
}
.btn-lg {
    width: 222px;
    padding: 15px 42px;
}
.ourservices a {
    text-decoration: none;
}
.meeting-list-detail {
    display: flex;
    margin-bottom: 12px;
}
.meeting-list-detail > div:first-of-type {
    margin-right: 12px;
}
.column-to-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 800px) {
    .column-to-row {
        flex-direction: column;
    }
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mr-2,
.mr-3 {
    margin-right: 5px;
}