button {
    width: initial;
}
button.long {
    /* width: 217px; */
    margin-top: 24px;
}

.upload-section-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding-top: 24px;

}
.upload-section {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
    min-height: 656px;
    padding-bottom: 32px;
    box-sizing: border-box;
    border-bottom: 2px solid #dddddd;
    padding-top: 40px;
}
.upload-section:nth-child(odd) {
    border-right: 2px solid #dddddd;
    padding-right: 44px;
}
.upload-section:nth-child(even) {
    padding-left: 44px;
}
.logo {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
}
.logo-img {
    width: 400px;
}
.placeholder-image {
    width: 400px;
    height: 566px;
    background-color: #eeeeee;
    border-radius: 4px;
    color: #111111;
    display: flex;
    flex-direction: column;
    color: #999999;
    justify-content: center;
    align-items: center;
}

.placeholder-add-button {
    display: flex;
    flex-direction: column;
    color: #999999;
    justify-content: center;
    align-items: center;

}
.placeholder-add-button svg:hover {
    cursor: pointer;
}


input.form-control {
    max-width: 400px;
}
.upload-page-container {
    margin-top: 40px;
}
@media (max-width: 850px) {
    .upload-page-container {
        margin-top: 24px;
    }
    .upload-section-container {
        flex-direction: column;
    }
    .upload-section {
        width: 100%;
        max-width: 100%;
    }
    .upload-section:nth-child(odd) {
        width: 100%;
        padding-right: 0;
        border-right: 0;
    }
    .upload-section:nth-child(even) {
        padding-left: 0;
    }
}
@media (max-width: 580px) {
    .container {
        padding: 24px;
    }
    .logo-img {
        width: 300px;
    }
}
.preview-img {
    width: 400px;
    display: block;
}
input.form-control {
    max-width: 500px;
    width: 100%;
}
.btn.btn-link {
    width: initial;
    padding: 0;
}