.flyer-section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flyer-section {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 96px;
}
/* For if 2 columns mode */
/* .flyer-section:nth-child(odd) {
    padding-right: 48px;
}
.flyer-section:nth-child(even) {
    padding-left: 48px;
} */
@media (max-width: 1199px) {
    .flyer-section-container {
        flex-direction: column;
    }
    .flyer-section {
        width: 100%;
        max-width: 100%;
    }
    .flyer-section:nth-child(odd) {
        width: 100%;
        padding-right: 0;
        border-right: 0;
    }
    .flyer-section:nth-child(even) {
        padding-left: 0;
    }
}